*{
    font-family: monospace;
    font-size: 14px;
}
.wrapper{
    width: 95%;
    margin: 15px 2.5%;
    
    float: left;
    background-color: #f9f8f6;
}
.button{
    font-family: arial;
    font-size: 14px;
}
table{
    padding-top: 12px;
    padding-left: 15px;
    padding-bottom: 12px;
}
input{
    margin-bottom: 10px;
}
select{
    margin-bottom: 10px;
}
#errorprecio,#errornombre{
    color: red;
}

#condiciones{
    margin-top: 30px;
    margin-bottom: 10px;
}

